{% extends 'base.html' %}
    {% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Fale conosco
                    </h1>
                    <h2 class="splash-subhead">
                        Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:
                    </h2>
                    <p>
                        <h2><strong>Links</strong></h2>
                    </p>
                    <ul>
                        <li><strong>Email:</strong> <a href="mailto:contato@simplemooc.org">contato@simplemooc.org</a></li>
                        <li><strong>Twiter</strong> <a href="twiter.com">twiter.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    